<script type="text/javascript">
  jQuery.validator.addMethod("isCandidate", function(value) {
    var candidates = <%= Politician.all.map {|x| x.name }.to_json.html_safe %>;
    var validCandidate = $.inArray(value, candidates);

    if (validCandidate == -1) {
      return false;
    } else {
      return true;
    }
  })

  jQuery(document).ready(function() {
    $('#typeahead').typeahead({source: typeahead_items});
  });

  jQuery(document).ready(function() {
    $('#typeahead2').typeahead({source: typeahead_items});
  });

  $(document).ready(function() {
    $("#new_politician").validate();
  });

  $(document).ready(function(){
    var white = find($('input[type="text"]'))[0];
    var black = find($('input[type="text"]'))[1];

    $('input[type="submit"]').attr('disabled','disabled');
  });
</script>

<%= javascript_tag "var typeahead_items = 
  #{ Politician.all.map {|x| x.name}.to_json };" %>

<%= form_for(@politician, :url => { :action => "compare" }) do |f| %>
  <div class="field">
    <%= text_field_tag :white, nil, :placeholder => "Candidate 1", 
    :id => "typeahead", :autocomplete => "off", :class => "isCandidate" %>
  </div>

  <strong>&nbsp; vs. &nbsp;</strong>

  <div class="field">
    <%= text_field_tag :black, nil, :placeholder => "Candidate 2", 
    :id => "typeahead2", :autocomplete => "off", :class => "isCandidate" %>
  </div>

  <div class="actions">
    <%= f.submit "Matchup!", :class => "btn-primary btn-large" %>
  </div>
<% end %>