<script type="text/javascript">
    jQuery(document).ready(function() {
        $('#auto_complete').typeahead({source: autocomplete_items});
    });
</script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        $('#auto_complete2').typeahead({source: autocomplete_items});
    });
</script>

<%= javascript_tag "var autocomplete_items = 
  #{ Politician.all.map {|x| x.name}.to_json };" %>

<%= javascript_tag "var autocomplete_items2 = 
  #{ Politician.all.map {|x| x.name}.to_json };" %>

<%= form_for(@politician, :url => { :action => "compare" }) do |f| %>
  <div class="field">
    <%= text_field_tag :candidate1, nil, :placeholder => "Candidate 1", 
    :id => "auto_complete" %>
  </div>

  <div class="field">
    <%= text_field_tag :candidate2, nil, :placeholder => "Candidate 2", 
    :id => "auto_complete2" %>
  </div>

  <div class="actions">
    <%= f.submit "Match!" %>
  </div>
<% end %>