<script type="text/javascript">
  jQuery(document).ready( function() {
    $(".hoverable").children(".stances").hide();
    $(".hoverable").hover(
      function() { $(this).children(".stances").show(); 
        $(this).children(".name").hide(); },
      function() { $(this).children(".name").show(); 
        $(this).children(".stances").hide(); }
    );
  });
</script>

<center><h1>
  <%= @white.name unless @white.nil? %> vs. <%= @black.name unless @black.nil? %>
  </h1>

  <br />

  <% @issue_names = @white.issues.map { |x| x.name } & 
    @black.issues.map { |x| x.name } %>
  <% @issue_names.each do |name| %>
    <span class="hoverable">
        <h2 class="name"><%= name %></h2>
        <table class="stances">
          <tr>
            <td width="450px"><h2><%= Issue.first(:name => name, 
            :politician_id => @white._id).stance %></h2></td>

            <td><h2><%= Issue.first(:name => name, 
            :politician_id => @black._id).stance %></h2></td>
          </tr>
        </table>
    </span> <br />
  <% end %>
</center>